$transition-duration-short: 0.18s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-easing: ease-in-out;
$transition: $transition-duration-short $transition-easing;

.transition-short,
%transition-short {
  transition: all $transition-duration-short $transition-easing;
}

.transition,
%transition {
  transition: all $transition-duration-medium $transition-easing;
}

.transition-long,
%transition-long {
  transition: all $transition-duration-long $transition-easing;
}
