$transition-duration-shorter: 0.18s;
$transition-duration-short: 0.4s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-duration-longer: 1.25s;
$transition-easing: ease-in-out;
$transition: $transition-duration-short $transition-easing;

.transition-shortest,
%transition-shortest {
  transition: all 0.05s $transition-easing;
}

.transition-shorter,
%transition-shorter {
  transition: all $transition-duration-shorter $transition-easing;
}

.transition-short,
%transition-short {
  transition: all $transition-duration-short $transition-easing;
}

.transition,
%transition {
  transition: all $transition-duration-medium $transition-easing;
}

.transition-long,
%transition-long {
  transition: all $transition-duration-long $transition-easing;
}

.transition-longer,
%transition-longer {
  transition: all $transition-duration-longer $transition-easing;
}

@keyframes animation-fade-in-down-slow {
  35% {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animation-fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -5rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);

  }
}

@keyframes animation-fade-in-up-slow {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  50% {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes animation-fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0);
  }
}

@keyframes animation-fade-in-up-long {
  0% {
    opacity: 0;
     transform: translate3d(0, 5rem, 0)
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up {
  opacity: 0;

  &.visible {
    animation: $transition-duration-longer $transition-easing 0s 1 normal forwards animation-fade-in-up;
  }
}
