@import 'settings';

$spacing-units: 0rem, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 4rem, 5rem, 6rem, 10rem;

$breakpoints: (
  'xs': 576px,
  'sm': 640px,
  'md-sm': 700px,
  'md': 768px,
  'lg': 1080px,
  'xl': 1280px,
  'xxl': 1440px,
  'xxxl': 1600px,
  'xxxxl': 1920px,
);

//TO-DO: remove debug before launch
$additional-class-definitions: (
  'debug': (
    border: 1px solid red
  ),
  'text-decoration-none': (
    text-decoration: none
  )
);
