html { 
  font-size: 18px; 
}

$atlas: 'Atlas Grotesk Web', sans-serif;
$austin:  'Austin News Deck Web', serif;

.atlas {
  font-family: $atlas;
}

.austin {
  font-family: $austin;
}

.serif {
  font-family: 'Austin News Deck Web', serif;
}

.sans-serif {
  font-family: 'Atlas Grotesk Web', sans-serif;
}

.italic {
  font-style: italic;
}

.text-title, h1, h2, h3, h4, h5, h6, p.serif {
  font-weight: 100;
}

h2 {
  font-size: 2rem;
}

h5 {
  font-size: 3.5rem;
}

p.sans-serif, li.sans-serif {
  line-height: 1.72rem;
  font-size: 0.66rem;

  @include media('md-up') {
    font-size: 1rem;
  }
}

.text-title, .text-intro, .text-subtitle, .text-menu, .text-caption {
  font-family: $austin;
}

.text-title {
  font-size: 9vw;
  line-height: auto;

  @include media('md-up') {
    font-size: 5vw;
  }
}

.text-intro {
  font-size: 2.5rem;
  line-height: 2.8rem;

  @include media('md-up') {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.text-subtitle {
  font-size: 1.27rem;
  line-height: 1.5rem;

  @include media('md-up') {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.text-menu {
  font-size: 1rem;
  line-height: .75rem;

  @include media('md-up') {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.text-button,
%text-button {
  font-family: $atlas;
  font-size: 0.5rem;

  @include media('md-up') {
    font-size: .77rem;
  }
}

.text-caption {
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 1.25rem;
  letter-spacing: 1px;

  @include media('md-up') {
    font-size: .77rem;
    line-height: 1.25rem;
  }
}

.text-footer-sm {
  font-family: $atlas;
  font-size: 0.61rem;
  line-height: 8.33rem;

  @include media('md-up') {
    font-size: 0.77rem;
    line-height: 1.11rem;
  }
}

.text-footer-xs {
  font-family: $atlas;
  font-size: 0.55rem;
  line-height: 0.77rem;

  @include media('md-up') {
    font-size: 0.77rem;
    line-height: 1.11rem;
  }
}

.text-paragraph {
  line-height: 1.11rem;
  font-size: .66rem;

  @include media('md-up') {
    font-size: 1rem;
    line-height: 1.72rem;
  }
}

.text-details {
  font-family: $atlas;
  font-size: 0.6rem;

  @include media('md-up') {
    font-size: 0.77rem;
  }
}

ol {
  list-style: none;
}

.list-number {
  min-width: 3.83rem;
  max-width: 3.83rem;
}

.caption-number {
  padding-right: 2.38rem;
}
