@import 'config';
@import '~@sanctucompu/basement/src/index';
@import 'settings', 'reset', 'typography';

header {
  height: 100vh;
}

.headroom {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 10px;
}

.drawer {
  position: fixed;
  z-index: 3;
  width: 100%;

  .content {
    background-color: white;

    .inner {
      max-width: 600px;

      .links {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }

  .fade {
    background: linear-gradient(to bottom,#fff 0,#0000 100%);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
  }
}

.wrapper,
.header {
  margin-left: 1.11rem;
  margin-right: 1.11rem;
}

.content-container {
  display: flex;
  margin-bottom: 4.33rem;

  @include media('md-up') {
    margin-left: 8.86rem;
    margin-right: 8.86rem;
    margin-bottom: 10rem;
  }
}

.full-width-content-container {
  display: flex;
  margin-bottom: 4.33rem;

  @include media('md-up') {
    margin-bottom: 10rem;
  }
}

.studio {
  margin-top: 12vh;
  z-index: 1;
}

.negative {
  margin-top: 45vh;
  z-index: 1;
}

img.globe {
  max-width: 800px;
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
}

button {
  @extend %text-button;
  padding: 10px 20px;
  background-color: transparent;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 999px;
  cursor: pointer;
}

footer {
  img {
    max-width: 80px;
  }
}

//Images
.image-one-container {
  margin-bottom: 10rem;
  top: 0;
  left: 0;

  > img {
    max-height: 8.44rem;
    object-fit: cover;
  }

  @include media('md-up') {
    top: 0;
    left: 0;

    > img {
      max-height: 26.83rem;
    }
  }
}

.image-two-container {
  margin-bottom: 10rem;
  top: 35%;
  right: 0;

  > img {
    max-height: 7rem;
    object-fit: cover;
  }

  @include media('md-up') {
    top: 0;
    right: 15%;

    > img {
      max-height: 8.27rem;
    }
  }
}

.image-three-container {
  margin-top: 10rem;    
  bottom: 0;
  left: 0;

  > img {
    max-height: 17.77rem;
    object-fit: cover;
  }

  @include media('md-up') {
    bottom: 0;
    left: 50%;

    > img {
      max-height: unset;
    }
  }
}

.section-one-container {
  height: 90rem;

  @include media('md-up') {
    height: 87.33rem;
  }
}

.image-four-container {
  margin-right: 40%;
  
  @include media('md-up') {
    margin-left: 30%;
    margin-right: 0;
  }
}

.image-five-container {
  @include media('md-up') {
    margin-left: 12%;
  }
}

.image-six-container {
  margin-bottom: 10rem;
  margin-right: 0;

  @include media('md-up') {
    margin-right: 3%;
    margin-bottom: 0;
  }
}

//Footer
.footer-padding-x {
  padding-left: 1.11rem;
  padding-right: 1.11rem;
}

.footer-header {
  padding-left: 1.11rem;
  padding-right: 1.11rem;

  @include media('md-up') {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-menu {
  padding-bottom: 10rem;

  > div > a {
    text-decoration: none;
    color: inherit;
  }
}