@import 'config';
@import '~@sanctucompu/basement/src/index';
@import 'settings', 'reset', 'typography';

header {
  height: 100vh;
}

.headroom {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 10px;
}

.drawer {
  position: fixed;
  z-index: 3;
  width: 100%;

  .content {
    background-color: white;

    .inner {
      max-width: 600px;

      .links {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }

  .fade {
    background: linear-gradient(to bottom,#fff 0,#0000 100%);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
  }
}

.wrapper,
.header {
  margin-left: 1.11rem;
  margin-right: 1.11rem;
}

.content-container {
  display: flex;
  margin-bottom: 4.33rem;
  max-width: 1440px;

  @include media('md-up') {
    margin-bottom: 10rem;
  }
}

.inner-content-padding-x {
  @include media('md-up') {
    padding-left: 6.72rem;
    padding-right: 6.72rem;
  }
}

.inner-content-padding-x-left {
  @include media('md-up') {
    padding-left: 6.72rem;
  }
}

.inner-content-padding-x-right {
  @include media('md-up') {
    padding-right: 6.72rem;
  }
}

.full-width-content-container {
  display: flex;
  margin-bottom: 4.33rem;

  @include media('md-up') {
    margin-bottom: 10rem;
  }
}

.studio {
  margin-top: 12vh;
  z-index: 1;
}

.negative {
  margin-top: 45vh;
  z-index: 1;
}

img.globe {
  max-width: 800px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
}

button {
  @extend %text-button;
  padding: 10px 20px;
  background-color: transparent;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 999px;
  cursor: pointer;
}

footer {
  img {
    max-width: 80px;
  }
}

//Index
.studio {
  margin-top: 12vh;
  z-index: 1;
}

.negative {
  margin-top: 45vh;
  z-index: 1;
}

.index-section-one-container {
  height: 90rem;

  @include media('sm-up') {
    height: 100rem;
  }

  @include media('md-up') {
    height: 75rem;
  }

  @include media('xl-up') {
    height: 90rem;
  }

  @include media('xxxl-up') {
    height: 100rem;
  }

  @include media('xxxxl-up') {
    height: 120rem;
  }
}

.image-one-container {
  margin-bottom: 10rem;
  top: 0;
  left: 0;

  > img {
    max-height: 8.44rem;
    object-fit: cover;
  }

  @include media('md-up') {
    > img {
      max-height: unset;
    }
  }
}

.image-two-container {
  margin-bottom: 10rem;
  top: 35%;
  right: 0;

  @include media('md-up') {
    top: 0;
    right: 7%;
  }
}

.image-three-container {
  margin-top: 10rem;    
  bottom: 0;
  left: 0;

  > img {
    max-height: 17.77rem;
    object-fit: cover;
  }

  @include media('md-up') {
    bottom: 0;
    left: 50%;

    > img {
      max-height: unset;
    }
  }
}

.image-four-container {

  @include media('md-up') {
    margin-left: 30%;
    margin-right: 0;
  }
}

.image-five-container {
  @include media('md-up') {
    margin-left: 12%;
  }
}

//Calculating Emissions
.calculating {
  margin-top: 10vh;
  z-index: 1;

  @include media('md-up') {
    margin-top: 45vh;
  }
}

.emissions {
  margin-top: 55vh;
  z-index: 1;

  @include media('md-up') {
    padding-right: 8%;
    margin-top: 18vh;
  }
}

.emissions-header-image-container {
  top: 16%;
  left: 1.112rem;
  max-height: 20rem;

  > img {
    object-fit: cover;
  }

  @include media('sm-up') {
    top: 19%;
  }

  @include media('md-up') {
    top: 15%;
    left: 30%;
  }
}

.emissions-caption {
  bottom: 5%;
  right: 1.112rem;

  @include media('md-up') {
    right: 20%;
  }

  @include media('xl-up') {
    right: 15%;
  }
}

.measuring-emissions-caption {
  @include media('lg-up') {
    margin-top: 40%;
  }
}

.emissions-diagram-table > :last-child {
  border-bottom: 1px solid color('black');
}

.emissions-diagram-table-item {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  border-top: 1px solid color('black');

  @include media('md-up') {
    padding-top: 1.77rem;
    padding-bottom: 1.77rem;
  }
}

.emissions-image-four-container {
  @include media('md-up') {
    margin-top: -10%;
  }
}

table {
  border-collapse: collapse;
}

tr:last-of-type {
  border-bottom: 1px solid color('black');
}

.table-header > th {
  padding-bottom: 0.66rem;
}

.table-items > td {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  border-top: 1px solid color('black');
}

//Footer
.footer-padding-x {
  padding-left: 1.11rem;
  padding-right: 1.11rem;
}

.footer-header {
  padding-left: 1.11rem;
  padding-right: 1.11rem;

  @include media('md-up') {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-menu {
  padding-bottom: 10rem;

  > div > a {
    text-decoration: none;
    color: inherit;
  }
}
