@import '~@sanctucompu/basement/src/index';
@import 'reset';

//TO-DO: remove before launch
.debug {
  border: 1px solid red;
}

header {
  height: 100vh;
}

.headroom {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 10px;
}

.drawer {
  position: fixed;
  z-index: 3;
  width: 100%;

  .content {
    background-color: white;

    .inner {
      max-width: 600px;

      .links {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }

  .fade {
    background: linear-gradient(to bottom,#fff 0,#0000 100%);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
  }
}

.wrapper,
.header {
  padding-left: 1.11rem;
  padding-right: 1.11rem;
  margin: auto;
}

.content-container {
  display: flex;
  margin-bottom: 4.33rem;

  @include media('md-up') {
    margin-left: 8.86rem;
    margin-right: 8.86rem;
    margin-bottom: 10rem;
  }
}

.full-width-content-container {
  display: flex;
  margin-bottom: 4.33rem;

  @include media('md-up') {
    margin-bottom: 10rem;
  }
}

.studio {
  margin-top: 12vh;
  z-index: 1;
}

.negative {
  margin-top: 45vh;
  z-index: 1;
}

img.globe {
  max-width: 800px;
  position: absolute;
  width: 75%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
}

button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: transparent;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 999px;
}

footer {
  img {
    max-width: 80px;
  }
}

//Typography
html { 
  font-size: 18px; 
}

$atlas: 'Atlas Grotesk Web', sans-serif;
$austin: 'Austin News Deck Web', serif;

.atlas {
  font-family: $atlas;
}

.austin {
  font-family: $austin;
}

.serif {
  font-family: 'Austin News Deck Web', serif;
}

.sans-serif {
  font-family: 'Atlas Grotesk Web', sans-serif;
}

.italic {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, p.serif {
  font-weight: 100;
}

h2 {
  font-size: 2rem;
}

h5 {
  font-size: 3.5rem;
}

p.sans-serif, li.sans-serif {
  line-height: 1.72rem;
  font-size: 0.66rem;

  @include media('md-up') {
    font-size: 1rem;
  }
}

.text-title, .text-subtitle, .text-menu, .text-caption {
  font-family: $austin;
}

.text-title {
  font-size: 2rem;
  line-height: auto;

  @include media('md-up') {
    font-size: 4vw;
  }
}

.text-subtitle {
  font-size: 1.27rem;
  line-height: 1.5rem;

  @include media('md-up') {
    margin-left: 6.88rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.text-menu {
  font-size: 1rem;
  line-height: .75rem;

  @include media('md-up') {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.text-button {
  font-family: $atlas;
  font-size: 0.5rem;

  @include media('md-up') {
    font-size: .77rem;
  }
}

.text-caption {
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 1.25rem;
  letter-spacing: 1px;

  @include media('md-up') {
    font-size: .77rem;
    line-height: 1.25rem;
  }
}

.text-paragraph {
  line-height: 1.11rem;
  font-size: .66rem;
  margin-left: 3.27rem;

  @include media('md-up') {
    font-size: 1rem;
    line-height: 1.72rem;
    margin-left: 50%;
  }
}

ol {
  list-style: none;
}

.caption-number {
  padding-right: 2.38rem;
}

//Images
.image-one-container {
  margin-bottom: 10rem;
  top: 0;
  left: 0;

  > img {
    max-height: 8.44rem;
    object-fit: contain;
  }

  @include media('md-up') {
    top: 0;
    left: 0;

    > img {
      max-height: 26.83rem;
      object-fit: contain;
    }
  }
}

.image-two-container {
  margin-bottom: 10rem;
  top: 35%;
  right: 0;

  > img {
    max-height: 7rem;
    object-fit: contain;
  }

  @include media('md-up') {
    top: 0;
    right: 15%;

    > img {
      max-height: 8.27rem;
      object-fit: contain;
    }
  }
}

.image-three-container {
  margin-top: 10rem;    
  bottom: 0;
  left: 0;

  > img {
    max-height: 17.77rem;
    object-fit: contain;
  }

  @include media('md-up') {
    bottom: 0;
    left: 50%;

    > img {
      max-height: unset;
    }
  }
}

.section-one-container {
  height: 90rem;

  @include media('md-up') {
    height: 87.33rem;
  }
}

.image-four-container {
  @include media('md-up') {
    margin-left: 30%;
  }

  // > img {
  //   max-height: 17.77rem;
  //   object-fit: contain;
  // }

  // @include media('md-up') {
  //   bottom: 0;
  //   left: 50%;

  //   > img {
  //     max-height: unset;
  //   }
  // }
}
